version: '3'

services:
  app-elasticsearch:
    container_name: stac-fastapi-es
    image: stac-utils/stac-fastapi
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.elasticsearch
    platform: linux/amd64
    environment:
      - APP_HOST=0.0.0.0
      - APP_PORT=8083
      - RELOAD=false
      - ENVIRONMENT=local
      - WEB_CONCURRENCY=10
      - ES_USER=dev
      - ES_PASS=stac
      - ES_PORT=9200
      - ES_HOST=172.17.0.1
    ports:
      - "8083:8083"
    volumes:
      - ./stac_fastapi:/app/stac_fastapi
      - ./scripts:/app/scripts
      - ./esdata:/usr/share/elasticsearch/data
    depends_on:
      - elasticsearch
    command:
      bash -c "./scripts/wait-for-it-es.sh es-container:9200 && python -m stac_fastapi.elasticsearch.app"

  elasticsearch:
    container_name: es-container
    image: docker.elastic.co/elasticsearch/elasticsearch:7.14.2
    environment:
      node.name: es01
      cluster.name: stac-cluster
      discovery.type: single-node
      network.host: 0.0.0.0
      http.port: 9200
      ES_JAVA_OPTS: -Xms512m -Xmx512m
    ports:
      - 9200:9200

networks:
  default:
    name: stac-fastapi-es-network
