site_name: stac-fastapi-elasticsearch-opensearch
site_description: STAC FastAPI Elasticsearch and Opensearch backends.

# Repository
repo_name: "stac-utils/stac-fastapi-elasticsearch-opensearch"
repo_url: "https://github.com/stac-utils/stac-fastapi-elasticsearch-opensearch"
edit_uri: "blob/main/docs/src/"

docs_dir: 'src'
site_dir: 'build'

# Social links
extra:
  social:
    - icon: "fontawesome/brands/github"
      link: "https://github.com/stac-utils"

# Layout
nav:
  - Home: "index.md"
  - Tips and Tricks: tips-and-tricks.md
  - API:
      - stac_fastapi.elasticsearch:
          - app: api/stac_fastapi/elasticsearch/app.md
          - index: api/stac_fastapi/elasticsearch/index.md
          - config: api/stac_fastapi/elasticsearch/config.md
          - database_logic: api/stac_fastapi/elasticsearch/database_logic.md
          - index: api/stac_fastapi/elasticsearch/index.md
          - version: api/stac_fastapi/elasticsearch/version.md
      - stac_fastapi.opensearch:
          - app: api/stac_fastapi/opensearch/app.md
          - index: api/stac_fastapi/opensearch/index.md
          - config: api/stac_fastapi/opensearch/config.md
          - database_logic: api/stac_fastapi/opensearch/database_logic.md
          - index: api/stac_fastapi/opensearch/index.md
          - version: api/stac_fastapi/opensearch/version.md
      - stac_fastapi.core:
          - index: api/stac_fastapi/core/index.md
          - base_database_logic: api/stac_fastapi/core/base_database_logic.md
          - base_settings: api/stac_fastapi/core/base_settings.md
          - core: api/stac_fastapi/core/core.md
          - datetime_utils: api/stac_fastapi/core/datetime_utils.md
          - extensions:
            - module: api/stac_fastapi/core/extensions/index.md
            - filter: api/stac_fastapi/core/extensions/filter.md
            - query: api/stac_fastapi/core/extensions/query.md
          - models:
            - module: api/stac_fastapi/core/models/index.md
            - links: api/stac_fastapi/core/models/links.md
            - search: api/stac_fastapi/core/models/search.md
          - serializers: api/stac_fastapi/core/serializers.md
          - session: api/stac_fastapi/core/session.md
          - utilities: api/stac_fastapi/core/utilities.md
          - version: api/stac_fastapi/core/version.md
  - Aggregation: "aggregation.md"
  - Development - Contributing: "contributing.md"
  - Release Notes: "release-notes.md"

plugins:
  - search

# Theme
theme:
  icon:
    logo: "material/home"
    repo: "fontawesome/brands/github"
  name: "material"
  language: "en"
  font:
    text: "Nunito Sans"
    code: "Fira Code"

extra_css:
  - stylesheets/extra.css

# These extensions are chosen to be a superset of Pandoc's Markdown.
# This way, I can write in Pandoc's Markdown and have it be supported here.
# https://pandoc.org/MANUAL.html
markdown_extensions:
  - admonition
  - attr_list
  - codehilite:
      guess_lang: false
  - def_list
  - footnotes
  - pymdownx.arithmatex
  - pymdownx.betterem
  - pymdownx.caret:
      insert: false
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.escapeall:
      hardbreak: true
      nbsp: true
  - pymdownx.magiclink:
      hide_protocol: true
      repo_url_shortener: true
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - toc:
      permalink: true