name: Publish docs via GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      # Rebuild website when docs have changed or code has changed
      - "README.md"
      - "docs/**"
      - "**.py"
  workflow_dispatch:

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main
        uses: actions/checkout@v6

      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install \
            stac_fastapi/core \
            stac_fastapi/sfeos_helpers \
            stac_fastapi/elasticsearch[docs] \
            stac_fastapi/opensearch \

      - name: update API docs
        run: |
          pdocs as_markdown \
            --output_dir docs/src/api/ \
            --exclude_source \
            --overwrite \
            stac_fastapi
        env:
          APP_PORT: 8082
          ES_PORT: 9202

      - name: Deploy docs
        run: mkdocs gh-deploy --force -f docs/mkdocs.yml